<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="IRepositoryGenerator.tt" #>
<#
// <copyright file="IRepositoryScript.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

	var generator = new IRepositoryGenerator();
	generator.Run();
#>
